.container {
  display: flex;
  align-items: center;
  color: var(--dark90);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 10px 30px;
  margin-bottom: 10px;
}
.container:hover {
  color: var(--hover);
}
.logo {
  padding-right: 12px;
  margin: auto 0;
}
