.container {
    display: flex;
    font-weight: bold;
    padding: 1rem 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.container>li {
    list-style-type: none;
    width: 14.2%;
    margin-right: 14px;
}